{% extends "base/side-right.html" %}

{% block head %}
    {{ super() }}

    <style type="text/css">
        .info-container{
            display: inline;
            text-align: center;
            font-family: "Microsoft YaHei UI";
        }
        .image-circle{
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }
        .row-info{
            margin-bottom: 25px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">

    <div>
        <span><b style="font-size: 30px">Contributors</b><span style="margin-left: 20px">Thanks to all contributors!</span></span>
    </div>

    <hr>

    <div class="row row-info">
        <div class="col-xs-4 col-md-4 col-sm-4 info-container">
            <img class="image-circle" src="/static/images/avatars/hwl.jpg" />
            <br>
            <b style="font-size: 20px; line-height: 30px">Weilong Hu</b>
            <br>
            M.S Student
            <br>
            Information Extraction, Relation Extraction
            <br>
            <a href="">huweilong@whu.edu.cn</a>
            <br>
            <a href="">Personal Page</a>
        </div>
        <div class="col-xs-4 col-md-4 col-sm-4 info-container">
            <img class="image-circle" src="/static/images/avatars/ht.png" />
            <br>
            <b style="font-size: 20px; line-height: 30px">Ting Huang</b>
            <br>
            M.S Student
            <br>
            Knowledge Representation
            <br>
            <a href="">jieyuth@whu.edu.cn</a>
            <br>
            <a href="">Personal Page</a>
        </div>
        <div class="col-xs-4 col-md-4 col-sm-4 info-container">
            <img class="image-circle" src="/static/images/avatars/pjx.jpg" />
            <br>
            <b style="font-size: 20px; line-height: 30px">Jiaxin Pan</b>
            <br>
            M.S Student
            <br>
            Information Extraction, Relation Extraction
            <br>
            <a href="">237448659@qq.com</a>
            <br>
            <a href="">Personal Page</a>
        </div>
    </div>

    <div class="row row-info">
        <div class="col-xs-4 col-md-4 col-sm-4 info-container">
            <img class="image-circle" src="/static/images/avatars/dyx.jpg" />
            <br>
            <b style="font-size: 20px; line-height: 30px">Yongxiang Diao</b>
            <br>
            M.S Student
            <br>
            Natural Language Processing
            <br>
            <a href="">956012986@qq.com</a>
            <br>
            <a href="">Personal Page</a>
        </div>
        <div class="col-xs-4 col-md-4 col-sm-4 info-container">
            <img class="image-circle" src="/static/images/avatars/twy.jpg" />
            <br>
            <b style="font-size: 20px; line-height: 30px">Wenyu Tian</b>
            <br>
            M.S Student
            <br>
            Natural Language Processing
            <br>
            <a href="">543092864@qq.com</a>
            <br>
            <a href="">Personal Page</a>
        </div>
        <div class="col-xs-4 col-md-4 col-sm-4 info-container">
            <img class="image-circle" src="/static/images/avatars/xt.jpg" />
            <br>
            <b style="font-size: 20px; line-height: 30px">Tong Xiang</b>
            <br>
            Undergraduate
            <br>
            Computer science and technology
            <br>
            <a href="">mathfather@icloud.com</a>
            <br>
            <a href="">Personal Page</a>
        </div>
    </div>

    <div class="row row-info">
        <div class="col-xs-4 col-md-4 col-sm-4 info-container">
            <img class="image-circle" src="/static/images/avatars/wjx.jpg" />
            <br>
            <b style="font-size: 20px; line-height: 30px">JueXian Wu</b>
            <br>
            Undergraduate
            <br>
            Computer science and technology
            <br>
            <a href="">knowlwdge@whu.edu.cn</a>
            <br>
            <a href="">Personal Page</a>
        </div>
        <div class="col-xs-4 col-md-4 col-sm-4 info-container">
            <img class="image-circle" src="/static/images/avatars/zqz.jpg" />
            <br>
            <b style="font-size: 20px; line-height: 30px">Qingzi Zeng</b>
            <br>
            Undergraduate
            <br>
            Computer science and technology
            <br>
            <a href="">405722746@qq.com</a>
            <br>
            <a href="">Personal Page</a>
        </div>
        <div class="col-xs-4 col-md-4 col-sm-4 info-container">
            <img class="image-circle" src="/static/images/avatars/lb.jpg" />
            <br>
            <b style="font-size: 20px; line-height: 30px">Ben Liu</b>
            <br>
            M.S Student
            <br>
            Natural Language Processing
            <br>
            <a href="">knowlwdge@whu.edu.cn</a>
            <br>
            <a href="">Personal Page</a>
        </div>
    </div>

</div>
{% endblock %}
