{% extends "base/side-left.html" %}

{% block side %}
    <!--左侧url列表-->
    <li class="active" id="menu1"><a href="#" onclick="changeSrc('/sentiment/demo', 1)">答案生成</a></li>
    <li class="" id="menu2"><a href="#" onclick="changeSrc('/sentiment/publications', 2)">项目文档</a></li>
    <li class="" id="menu3"><a href="#" onclick="changeSrc('/sentiment/contributor', 3)">开发人员</a></li>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="text/javascript">
        // 初始加载的url
        jQuery(document).ready(function () {
            changeSrc('/ans_gen/demo', 1)
        })
    </script>

{% endblock %}
